
.grid-container {
    display: grid;
    max-width: 1000px;
    margin: 0 auto;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;


    &.wide {
        gap: 1rem 2rem;
    }

    .col-1 {
        grid-column: auto / span 1;
    }

    .col-2 {
        grid-column: auto / span 2;
    }

    .col-3 {
        grid-column: auto / span 3;
    }

    .col-4 {
        grid-column: auto / span 4;
    }

    .col-5 {
        grid-column: auto / span 5;
    }

    .col-6 {
        grid-column: auto / span 6;
    }
    
    

}