/* TYPOGRAPHY */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

:root {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Open Sans', sans-serif;
}