/* COLORS */

$white: white;
$lightGrey: rgba(0,0,0,.1);
$middleGrey: rgba(0,0,0,.6);
$darkGrey: rgba(0,0,0,.8);
$red: rgb(218, 75, 75);
$lightRed: rgba(218, 75, 75,.6);

$round: .25rem;


/* COMPONENTS */

.btn {
    display: inline-flex;
    padding: .75rem 1.5rem;
    font-size: 1rem;
    text-decoration: none;
    color: #eee;
    border-radius: $round;
    background: $darkGrey;
    
    &.light {
    color: $darkGrey;
    background: #eee;
    
    :hover {
        color: black;
        background: white;
    }

    }

    &.large {
        width: 100%;
        box-sizing: border-box;
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &:hover {
        color: white;
        background: black;
    }
    
    &:active {
        background: $red;
        color: white;
    }

}

/* FORM */

form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1.2rem;
    gap: 1rem 1rem;

    label {
        font-size: .8rem;
        color: $middleGrey;
        line-height: 200%;
        margin: 0;
        padding: 0;
        grid-row: auto / span 2;

        input, textarea {
            border: 1px solid $middleGrey;
            font-size: 1.2rem;
            resize: none;
            appearance: none;
            background: none;
            padding: .5rem;
            width: 100%;
            box-sizing: border-box;
            border-radius: $round;

            &:focus {
                color: black;
                border-color: black;
                outline: none;
            }
        }

        &.col-1 {
            grid-column: auto / span 1;
        }
    
        &.col-2 {
            grid-column: auto / span 2;
        }
    
        &.col-3 {
            grid-column: auto / span 3;
        }
    
        &.col-4 {
            grid-column: auto / span 4;
        }
    
        &.row-1 {
            grid-row: auto / span 2;
        }
    
        &.row-2 {
            grid-row: auto / span 4;
        }
    
        &.row-3 {
            grid-row: auto / span 6;
        }
    
        &.row-4 {
            grid-row: auto / span 8;
        }
    }

    &.light {
        label {
            color: #999;

            input, textarea {
                border-color: #999;
                color: #FFF;
            }
        }
    }

    h2 {
        grid-row: auto / span 2;
        display: flex;
        align-items: flex-end;
    }

    footer {
        grid-row: auto / span 2;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
}


/* TRANSITIONS */
.drop-enter-active, .drop-leave-active {
    transition: all .2s;
    transform: scale(1);
  }

.drop-enter, .drop-leave-to {
    transform: scale(1.4);
    opacity: 0;
}

.fade-enter-active, .fade-leave-active {
    transition: all .2s;
  }

.fade-enter, .fade-leave-to {
    opacity: 0;
}